.calLabel {
    font-weight: 700;
    color: #006eae;
}
.rightlabel{
    width: 100%; background-color: #006eae;color: white; border: 0px; text-align: center; 
}
.range-slider{
    width: 100%;
}
.emi{
   color:  #ff3c00;
}
.emidetail{
    background-color: #006eae;
    text-align: center;
    color: white;
    font-weight: 600;
    width: 100%;
    overflow: hidden;
    border-radius: 50px;
}


.service-title{
    font-size: 28px;
    color: #006eae;
}